body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
  background-color: rgb(122, 162, 232);
    margin-top: -1.4%;
    width: 100%;
    height: 80px;
}
header h1{
    position: absolute;
    margin-left: 70px;
    margin-top: 40px;
    font-size: 1.5rem;
}

.cepbutton{
    margin-top: 20px;
    display: flex;
    margin-left: 70px;
}
#cep{
    width: 50%;
    margin-right: 10px;
}
.consuta{
    margin-top: 20px;
    margin-left: 70px;
}

.alerta{
    color: red;
    margin-top: 20px;
    margin-left: 70px;
}

footer{
    background-color: #ccc;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
}
footer p{
    position: relative;
    top: 30px;
    text-align: center;
}
a{
    text-decoration: none;
}